<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
    <h1>403 - Forbidden!</h1>
    <a th:href="@{/logout}">Log out</a>
</body>
