<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
    <h1>Please, sign in</h1>
    <form th:action="@{/login}" method="post">
        <div th:if="${param.error}" style="color: maroon">
            Invalid username or password.
        </div><br>
        <label>Username:</label><br>
        <input type="text" name="username"/><br><br>
        <label>Password:</label><br>
        <input type="password" name="password"/><br><br>
        <button type="submit">Log in</button>
    </form><br>
    <a th:href="@{/registration}">Sign up</a>
</body>
