<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <style>
        .error {
            color: maroon;
        }
    </style>
</head>
<body>
<h1>Registration</h1>
    <form th:action="@{/registration}" th:object="${user}" method="POST">
        <label>Username:</label><br>
        <input type="text" th:field="*{username}"/>
        <span th:if="${usernameExists}" style="color: #A99282">
            User with given username already exists!</span>
        <div th:if="${#fields.hasErrors('username')}"
              th:errors="*{username}" class="error"></div>
        <br><br>
        <label>Password:</label><br>
        <input type="password" th:field="*{password}"/>
        <div th:if="${#fields.hasErrors('password')}"
              th:errors="*{password}" class="error"></div>
        <br><br>
        <label>Confirm Password:</label><br>
        <input type="password" th:field="*{confirmedPassword}"/>
        <div th:if="${#fields.hasErrors('confirmedPassword')}"
              th:errors="*{confirmedPassword}" class="error"></div>
        <br><br>
        <label>Email:</label><br>
        <input type="text" th:field="*{email}">
        <span th:if="${emailExists}" style="color: #A99282">
            User with given email already exists!</span>
        <div th:if="${#fields.hasErrors('email')}"
              th:errors="*{email}" class="error"></div>
        <br><br>
        <label>Phone:</label><br>
        <input type="text" th:field="*{phone}">
        <div th:if="${#fields.hasErrors('phone')}"
             th:errors="*{phone}" class="error"></div>
        <br><br>
        <label>First Name:</label><br>
        <input type="text" th:field="*{firstName}">
        <div th:if="${#fields.hasErrors('firstName')}"
             th:errors="*{firstName}" class="error"></div>
        <br><br>
        <label>Last Name:</label><br>
        <input type="text" th:field="*{lastName}">
        <div th:if="${#fields.hasErrors('lastName')}"
             th:errors="*{lastName}" class="error"></div>
        <br><br>
        <button type="submit">Sign up</button>
    </form><br>
    <a th:href="@{/login}">Log in</a>
</body>
