<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Book Store</title>
</head>
<body>
  <h1>You have been successfully registered!</h1>
  <a th:href="@{/login}">Log in</a>
</body>
