<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${action=='create'} ? 'New Book' : 'Update ' + ${book.name}" />
</head>
<body>
    <form th:action="@{/admin/core/books/save(action=${action})}" th:object="${book}" method="POST">
        <span th:if="${action=='update'}">
            <label>ID:</label><br>
            <input readonly type="number" th:field="*{id}" th:value="${book.id}"><br><br>
        </span>
        <label>Category:</label><br>
        <select th:field="*{category}">
            <option th:each="c : ${categories}" th:value="${c.id}"
                    th:text="${c.name}" th:selected="${c==book.category}"></option>
        </select><br><br>
        <label>Name:</label><br>
        <input type="text" th:field="*{name}"/>
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red"></span>
        <br><br>
        <label>Authors:</label><br>
        <select th:field="*{authors}" multiple>
            <option th:each="a : ${authors}" th:value="${a.id}"
                    th:text="${a.firstName + ' ' + a.lastName}"
                    th:selected="${book.authors != null && #lists.contains(book.authors, a)}" />
        </select><br><br>
        <span th:if="${action=='update'}">
            <ul>
                <li th:each="a : ${book.authors}" th:text="${a.firstName + ' ' + a.lastName}"></li>
            </ul>
        </span>
        <label>Publisher:</label><br>
        <select th:field="*{publisher}">
            <option th:each="p : ${publishers}" th:value="${p.id}"
                    th:text="${p.name}" th:selected="${p==book.publisher}"></option>
        </select><br><br>
        <label>Summary:</label><br>
        <input type="text" th:field="*{summary}"/><br><br>
        <label>Language:</label><br>
        <select th:field="*{language}">
            <option th:each="l : ${languages}" th:value="${l.id}"
                    th:text="${l.name}" th:selected="${l==book.language}"></option>
        </select><br><br>
        <label>Genres:</label><br>
        <select th:field="*{genres}" multiple>
            <option th:each="g : ${genres}" th:value="${g.id}"
                    th:text="${g.name}"
                    th:selected="${book.genres != null && #lists.contains(book.genres, g)}" />
        </select><br><br>
        <span th:if="${action=='update'}">
            <ul>
                <li th:each="g : ${book.genres}" th:text="${g.name}"></li>
            </ul>
        </span>
        <lable>Amount:</lable><br>
        <input type="number" th:field="*{amount}" />
        <span th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}" style="color: red"></span>
        <br><br>
        <lable>Price:</lable><br>
        <input type="number" th:field="*{price}" />
        <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}" style="color: red"></span>
        <br><br>
        <lable>Discount:</lable><br>
        <input type="number" th:field="*{discount}" />
        <span th:if="${#fields.hasErrors('discount')}" th:errors="*{discount}" style="color: red"></span>
        <br><br>
        <lable>Published:</lable><br>
        <input type="date" th:field="*{published}" /><br><br>
        <lable>Pages:</lable><br>
        <input type="number" th:field="*{pages}" /><br><br>
        <lable>ISBN:</lable><br>
        <input type="text" th:field="*{ISBN}" /><br><br>
        <input type="submit" value="Save"/>
    </form><br>
    <a th:if="${action=='update'}"
       th:href="@{/admin/core/books/delete/{id}(id=${book.id})}" >
        <button>Delete</button></a>
    <a th:href="@{/admin/core/books}">Go back to Books</a>
</body>
</html>
