<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>
<h1>Books</h1>
<div>
    <a th:href="@{/admin/core/books/add}">Add Book</a>
</div>
<table>
    <tr th:each="book: ${books}">
        <td><a th:href="@{/admin/core/books/{id}(id=${book.id})}" th:text="${book.id}"></a></td>
        <td th:text="${book.name}" />
    </tr>
</table>
<a th:href="@{/admin}">Go back to main page</a>
</body>
