<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Book Store Admin</title>
</head>
<body>
    <h1>Book Store Administration</h1>
    <table>
        <tr>
            <td>CORE</td>
        </tr>
        <tr>
            <td><a th:href="@{/admin/core/languages}">Languages</a></td>
            <td><a th:href="@{/admin/core/languages/add}">Add</a></td>
            <td><a th:href="@{/admin/core/languages}">Change</a></td>
        </tr>
        <tr>
            <td><a th:href="@{/admin/core/genres}">Genres</a></td>
            <td><a th:href="@{/admin/core/genres/add}">Add</a></td>
            <td><a th:href="@{/admin/core/genres}">Change</a></td>
        </tr>
        <tr>
            <td><a th:href="@{/admin/core/categories}">Categories</a></td>
            <td><a th:href="@{/admin/core/categories/add}">Add</a></td>
            <td><a th:href="@{/admin/core/categories}">Change</a></td>
        </tr>
        <tr>
            <td><a th:href="@{/admin/core/publishers}">Publishers</a></td>
            <td><a th:href="@{/admin/core/publishers/add}">Add</a></td>
            <td><a th:href="@{/admin/core/publishers}">Change</a></td>
        </tr>
        <tr>
            <td><a th:href="@{/admin/core/authors}">Authors</a></td>
            <td><a th:href="@{/admin/core/authors/add}">Add</a></td>
            <td><a th:href="@{/admin/core/authors}">Change</a></td>
        </tr>
        <tr>
            <td><a th:href="@{/admin/core/books}">Books</a></td>
            <td><a th:href="@{/admin/core/books/add}">Add</a></td>
            <td><a th:href="@{/admin/core/books}">Change</a></td>
        </tr>
        <tr>
            <td><a th:href="@{/admin/core/images}">Images</a></td>
            <td><a th:href="@{/admin/core/images/add}">Add</a></td>
            <td><a th:href="@{/admin/core/images}">Change</a></td>
        </tr>
    </table><br>
    <a th:href="@{/logout}">Log out</a>
</body>
