<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>
<h1>404 - Not Found!</h1>
<a th:href="@{/books}">Go back to main page</a>
</body>
