<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${book.name}"></title>
</head>
<body>
    <div th:each="image: ${book.images}" style="display: inline-block">
        <img th:src="@{${image.imagePath}}" height="400" />
    </div>
    <h1 th:text="${book.name}"></h1>
    <div th:each="author: ${book.authors}">
        <span th:text="${author.fullName}"></span><br>
    </div>
    <div th:if="${book.discount > 0}">
        <label>Price: </label>
        <span th:text="${book.price}" style="color: dimgrey;
        text-decoration: line-through"></span><br>
        <label>Your price: </label>
        <span th:text="${book.discountedPrice}"
              style="color: maroon; font-weight: bold"></span><br>
        <label>You save: </label>
        <span th:text="${book.price - book.discountedPrice}"></span>
        <span th:text="' (' + ${book.discount} + '%)'"></span><br>
    </div>
    <div th:if="${book.discount <= 0}">
        <label>Price: </label>
        <span th:text="${book.price}" style="color: maroon;
        font-weight: bold"></span><br>
    </div>
    <div th:each="genre: ${book.genres}">
        <span th:text="${genre.name}"></span><br>
    </div><br>
    <p th:text="${book.summary}"></p><br>
    <label style="font-weight: bold">Details: </label><br>
    <label>Publisher: </label>
    <span th:text="${book.publisher.name}"></span><br>
    <label>Language: </label>
    <span th:text="${book.language.name}"></span><br>
    <label>Published: </label>
    <span th:text="${#temporals.format(book.published, 'yyyy/MM/dd')}">
    </span><br>
    <label>Pages: </label>
    <span th:text="${book.pages}"></span><br>
    <label>ISBN: </label>
    <span th:text="${book.ISBN}"></span><br><br>
    <a th:href="@{/cart/add(bookId=${book.id})}">Add to Cart</a>
</body>
