<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <style>
        a {
            text-decoration: none;
            color: black;
        }
        .grid-container {
            position: absolute;
            width: 85%;
            display: inline-grid;
            grid-gap: 10px;
            grid-template-columns: 20% 20% 20% 20% 20%;
        }
        .grid-item {
            border: 1px solid lightgray;
            text-align: center;
            padding: 20px;
        }
        .book-info {
            color: dimgrey;
        }
        .price {
            font-weight: bold;
            color: maroon;
        }
        .side-bar {
            margin-top: 50px;
            margin-right: 50px;
            display: inline-block;
        }
        .category {
            text-decoration: none;
            cursor: pointer;
            color: black;
        }
        .button {
            background-color: #A99282;
            border: none;
            color: #F4F2F0;
            padding: 5px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }
    </style>
    <script>
        document.getElementById('apply').href = window.location.href;

        function changeUrl(val, key) {
            let url = new URL(document.getElementById('apply').href)
            url.searchParams.set(key, val);
            document.getElementById('apply').href = url;
        }

        function changeSearchUrl(val) {
            document.getElementById('search').href = "/books?search=" + val;
        }

        function onlyOne(checkbox) {
            let checkboxes = document.getElementsByName('check')
            checkboxes.forEach((item) => {
                if (item !== checkbox) item.checked = false
            })
        }
    </script>
</head>
<body>
    <header>
        <h1 style="color: #A99282; display: inline-block">MaddieKan's Book Store</h1>
        <a th:href="@{/cart}" class="button"
           style="float: right; display: inline-block; margin: 25px">Cart</a>
        <a th:href="@{/orders}" class="button"
           style="float: right; display: inline-block; margin: 25px">Orders</a>
    </header>
    <div>
        <span th:each="c: ${category.parentCategories}">
            <a th:href="@{/books(categoryId=${c.id})}"
               th:text="' / ' + ${c.name}"></a>
        </span>
    </div>
    <div class="side-bar">
        <a th:href="@{/books(categoryId=${category.id})}"
           th:text="' » ' + ${category.name}" style="color: #A99282"></a>
        <div th:each="c: ${category.subcategories}">
            <a th:href="@{/books(categoryId=${c.id})}"
               class="category" th:text="${c.name}"></a>
        </div>
        <br><br>
        <div>
            <input type="text" onchange="changeSearchUrl(this.value)" placeholder="Search" />
            <br><br>
            <a href="" id="search" style="font-weight: bold"> » Search</a><br><br>
            <input type="checkbox" name="check" onclick="changeUrl('price', 'sort');onlyOne(this)">
            Sort by price ascending</input><br>
            <input type="checkbox" name="check" onclick="changeUrl('-price', 'sort');onlyOne(this)">
            Sort by price descending</input>
            <br><br>
            <label>Min price:</label><br>
            <input type="number" id="priceMin" style="width: 80px"
                   onchange="changeUrl(this.value, 'priceMin')"/><br><br>
            <label>Max price:</label><br>
            <input type="number" id="priceMax" style="width: 80px"
                   onchange="changeUrl(this.value, 'priceMax')"/><br><br>
            <label>Min discount:</label><br>
            <input type="number" id="discountMin" style="width: 80px"
                   onchange="changeUrl(this.value, 'discountMin')"/><br><br>
            <label>Max discount:</label><br>
            <input type="number" id="discountMax" style="width: 80px"
                   onchange="changeUrl(this.value, 'discountMax')"/><br><br>
        </div>
        <a href="" id="apply" style="font-weight: bold"> » Apply</a><br><br>
        <a th:href="@{/books(categoryId=${category.id})}">Reset filters</a>
    </div>
    <div class="grid-container">
        <div class="grid-item" th:each="book: ${books}">
            <a th:href="@{/books/{id}(id=${book.id})}">
                <div class="book-info">
                    <img th:src="@{${book.mainImage}}" height="250" />
                    <br><br>
                    <div th:text="${book.name}" style="font-weight: bold;
                    color: black"></div>
                    <div th:text="${book.authors}"></div>
                    <span th:text="${book.publisher} + ', '"></span>
                    <span th:text="${#temporals.year(book.published)}"></span>
                </div><br>
            </a>
            <span>
                <span th:if="${book.discount > 0}">
                    <span th:text="${book.discountedPrice}" class="price"></span>
                    <span th:text="${book.price}" style="text-decoration: line-through"></span>
                </span>
                <span th:if="${book.discount <= 0}"
                      th:text="${book.price}" class="price"></span>
                <span th:text="${book.amount} + ' available'" style="margin-left: 30px"></span>
            </span><br><br>
            <a th:if="${book.inCart}" class="button"
               style="background-color:  #F4F2F0; color: #A99282">Already in Cart</a>
            <a th:if="${book.inCart == false}" th:href="@{/cart/add(bookId=${book.id})}"
               class="button">Add to Cart</a>
        </div>
    </div>
</body>
