<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${action=='create'} ? 'New Publisher' : 'Update ' + ${publisher.name}" />
</head>
<body>
    <form th:action="@{/admin/core/publishers/save(action=${action})}" th:object="${publisher}" method="POST">
            <span th:if="${action=='update'}">
                <label>ID:</label><br>
                <input readonly type="number" th:field="*{id}" th:value="${publisher.id}"><br><br>
            </span>
        <label>Name:</label><br>
        <input type="text" th:field="*{name}"/>
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red"></span>
        <br><br>
        <label>Location:</label><br>
        <input type="text" th:field="*{location}"/><br><br>
        <label>Website:</label><br>
        <input type="text" th:field="*{website}"/><br><br>
        <input type="submit" value="Save"/>
    </form><br>
    <a th:if="${action=='update'}"
       th:href="@{/admin/core/publishers/delete/{id}(id=${publisher.id})}" >
        <button>Delete</button></a>
    <a th:href="@{/admin/core/publishers}">Go back to Publishers</a>
</body>
</html>
