<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Publishers</title>
</head>
<body>
    <h1>Publishers</h1>
    <div>
        <a th:href="@{/admin/core/publishers/add}">Add Publisher</a>
    </div>
    <table>
        <tr th:each="publisher: ${publishers}">
            <td><a th:href="@{/admin/core/publishers/{id}(id=${publisher.id})}" th:text="${publisher.id}"></a></td>
            <td th:text="${publisher.name}" />
        </tr>
    </table>
    <a th:href="@{/admin}">Go back to main page</a>
</body>
