<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <style>
        table, th, td {
            border: 1px solid lightgrey;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
    <header>
        <h1 style="color: #A99282; display: inline-block">MaddieKan's Book Store</h1>
    </header>
    <table style="float: left">
        <tr>
            <th>Books</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Sum</th>
            <th>Delete</th>
        </tr>
        <tr th:each="item: ${cartItems}">
            <td>
                <img th:src="@{${item.bookImage}}" height="150" /><br>
                <a th:href="@{/books/{id}(id=${item.book.id})}"
                   th:text="${item.book.name}" style="font-weight: bold"></a>
                <div th:each="author: ${item.book.authors}">
                    <span th:text="${author.fullName}"></span><br>
                </div>
            </td>
            <td>
                <div th:text="${item.book.discountedPrice}"></div>
                <div th:if="${item.book.discount > 0}">
                    <div>You save:</div>
                    <span th:text="${item.book.advantage}"></span>
                    <span th:text="' (' + ${item.book.discount} + '%)'"></span><br>
                </div>
            </td>
            <td>
                <a th:href="@{/cart/update/{id}(id=${item.id}, delta=-1)}"> - </a>
                <span th:text="${item.quantity}"></span>
                <a th:href="@{/cart/update/{id}(id=${item.id}, delta=1)}"> + </a>
                <div th:text="${item.book.amount} + ' available'"></div>
            </td>
            <td>
                <div th:text="${item.sum}"></div>
            </td>
            <td>
                <div th:if="${item.book.amount < item.quantity}"
                     style="color: maroon; font-weight: bold">
                    Can not be ordered!
                </div><br>
                <a th:href="@{/cart/delete/{id}(id=${item.id})}">Delete</a>
            </td>
        </tr>
    </table>
    <div style="display: inline-block; margin-left: 50px">
        <label>Total: </label>
        <span th:text="${cart.total}"></span><br>
        <label>Books in order: </label>
        <span th:text="${cart.amount}"></span><br><br>
        <form th:action="@{orders/create}" th:object="${order}" method="POST">
            <label>Delivery address: </label><br>
            <input type="text" th:field="*{address}" />
            <span th:if="${#fields.hasErrors('address')}"
                  th:errors="*{address}" style="color: maroon"></span>
            <br><br>
            <input th:if="${#lists.size(cartItems) > 0}" type="submit" value="Place order" />
        </form>
    </div>
    <a th:href="@{/books}">Go back to main page</a>
</body>
