<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
    <style>
        table, th, td {
            border: 1px solid lightgrey;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
    <h1>Orders</h1>
    <div th:each="order: ${orders}">
        <label style="font-weight: bold">Id: </label>
        <span th:text="${order.id}" style="font-weight: bold"></span><br>
        <label>Date: </label>
        <span th:text="${#temporals.format(order.created, 'yyyy/MM/dd')}"></span><br>
        <label>Delivery address: </label>
        <span th:text="${order.address}"></span><br>
        <label>Status: </label>
        <span th:text="${order.status}"></span><br>
        <label>Total price: </label>
        <span th:text="${order.totalPrice}"></span><br>
        <label>Total delivery: </label>
        <span th:text="${order.deliveryPrice}"></span><br>
        <table>
            <tr>
                <th>Book</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Sum</th>
            </tr>
            <tr th:each="item: ${order.orderItems}">
                <td>
                    <img th:src="@{${item.bookImage}}" height="150" /><br>
                    <div th:text="${item.book.name}"></div>
                    <div th:each="author: ${item.book.authors}">
                        <span th:text="${author.fullName}"></span><br>
                    </div>
                </td>
                <td>
                    <div th:text="${item.price}"></div>
                </td>
                <td>
                    <div th:text="${item.quantity}"></div>
                </td>
                <td>
                    <div th:text="${item.sum}"></div>
                </td>
            </tr>
        </table>
        <br><br>
    </div>
    <a th:href="@{/books}">Go back to main page</a>
</body>
