<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${action=='create'} ? 'New Image' : 'Update Image'" />
</head>
<body>
    <form th:action="@{/admin/core/images/{action}(action=${action})}"
          th:object="${image}" method="POST" enctype="multipart/form-data">
                <span th:if="${action=='update'}">
                    <label>ID:</label><br>
                    <input readonly type="number" th:field="*{id}" th:value="${image.id}">
                    <br><br>
                </span>
        <select th:if="${action=='create'}" th:field="*{book}">
            <option th:each="b : ${books}" th:value="${b.id}"
                    th:text="${b.name}" th:selected="${b==image.book}"></option>
        </select>
        <br><br>
        <span th:if="${action=='create'}">
            <label>Image: </label><br>
            <input type="file" name="file" accept="image/png, image/jpeg" />
            <br><br>
        </span>
        <div th:if="${action=='update'}">
            <img th:src="@{${image.imagePath}}" height="250" />
        </div>
        <label>Priority: </label><br>
        <input type="number" th:field="*{priority}">
        <br><br>
        <input type="submit" value="Save"/>
    </form><br>
    <a th:if="${action=='update'}"
       th:href="@{/admin/core/images/delete/{id}(id=${image.id})}" >
        <button>Delete</button></a>
    <a th:href="@{/admin/core/images}">Go back to Images</a>
</body>
</html>
