<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Images</title>
</head>
    <body>
    <h1>Images</h1>
    <div>
        <a th:href="@{/admin/core/images/add}">Add Image</a>
    </div>
    <table>
        <tr th:each="image: ${images}">
            <td><a th:href="@{/admin/core/images/{id}(id=${image.id})}"
                   th:text="${image.id}"></a></td>
            <td th:text="${image.path}" />
        </tr>
    </table>
    <a th:href="@{/admin}">Go back to main page</a>
</body>
