<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${action=='create'} ? 'New Category' : 'Update ' + ${category.name}" />
</head>
<body>
    <form th:action="@{/admin/core/categories/save(action=${action})}"
          th:object="${category}" method="POST">
        <span th:if="${action=='update'}">
            <label>ID:</label><br>
            <input readonly type="number" th:field="*{id}" th:value="${category.id}"><br><br>
        </span>
        <label>Name:</label><br>
        <input type="text" th:field="*{name}"/>
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red"></span>
        <br><br>
        <label>Priority:</label><br>
        <input type="number" th:field="*{priority}"/>
        <span th:if="${#fields.hasErrors('priority')}" th:errors="*{priority}" style="color: red"></span>
        <br><br>
        <label>Active</label>
        <input type="checkbox" th:field="*{active}"/><br><br>
        <label>Parent Category:</label><br>
        <select th:field="*{parentCategory}">
            <option th:value="null" th:selected="${c==null}">No parent category</option>
            <option th:each="c : ${categories}" th:value="${c.id}"
                    th:text="${c.name}" th:selected="${c==category.parentCategory}"></option>
        </select><br><br>
        <input type="submit" value="Save"/>
    </form><br>
    <a th:if="${action=='update'}"
       th:href="@{/admin/core/categories/delete/{id}(id=${category.id})}" >
        <button>Delete</button></a>
    <a th:href="@{/admin/core/categories}">Go back to Categories</a>
</body>
</html>
