<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Categories</title>
</head>
<body>
    <h1>Categories</h1>
    <div>
        <a th:href="@{/admin/core/categories/add}">Add Category</a>
    </div>
    <table>
        <tr th:each="category: ${categories}">
            <td><a th:href="@{/admin/core/categories/{id}(id=${category.id})}" th:text="${category.id}"></a></td>
            <td th:text="${category.name}" />
        </tr>
    </table>
    <a th:href="@{/admin}">Go back to main page</a>
</body>
