<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${action=='create'} ? 'New Author' : 'Update ' + ${author.firstName + ' ' + author.lastName}" />
</head>
<body>
    <form th:action="@{/admin/core/authors/save(action=${action})}" th:object="${author}" method="POST">
        <span th:if="${action=='update'}">
            <label>ID:</label><br>
            <input readonly type="number" th:field="*{id}" th:value="${author.id}"><br><br>
        </span>
        <label>First name:</label><br>
        <input type="text" th:field="*{firstName}"/>
        <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" style="color: red"></span>
        <br><br>
        <label>Last name:</label><br>
        <input type="text" th:field="*{lastName}"/>
        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" style="color: red"></span>
        <br><br>
        <label>Birth date:</label><br>
        <input type="date" th:field="*{birthDate}"/><br><br>
        <label>Bio:</label><br>
        <input type="text" th:field="*{bio}"/><br><br>
        <label>Languages:</label><br>
        <select th:field="*{languages}" multiple>
            <option th:value="null">No languages</option>
            <option th:each="l : ${languages}" th:value="${l.id}"
                    th:text="${l.name}"
                    th:selected="${author.languages != null && #lists.contains(author.languages, l)}" />
        </select><br><br>
        <span th:if="${action=='update'}">
            <ul>
                <li th:each="l : ${author.languages}" th:text="${l.name}"></li>
            </ul>
        </span>
        <select th:field="*{genres}" multiple>
            <option th:value="null">No genres</option>
            <option th:each="g : ${genres}" th:value="${g.id}"
                    th:text="${g.name}"
                    th:selected="${author.genres !=null && #lists.contains(author.genres, g)}" />
        </select><br><br>
        <span th:if="${action=='update'}">
            <ul>
                <li th:each="g : ${author.genres}" th:text="${g.name}"></li>
            </ul>
        </span>
        <input type="submit" value="Save"/>
    </form><br>
    <a th:if="${action=='update'}"
       th:href="@{/admin/core/authors/delete/{id}(id=${author.id})}" >
        <button>Delete</button></a>
    <a th:href="@{/admin/core/authors}">Go back to Authors</a>
</body>
</html>
