<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Authors</title>
</head>
<body>
<h1>Authors</h1>
<div>
    <a th:href="@{/admin/core/authors/add}">Add Author</a>
</div>
<table>
    <tr th:each="author: ${authors}">
        <td><a th:href="@{/admin/core/authors/{id}(id=${author.id})}" th:text="${author.id}"></a></td>
        <td th:text="${author.firstName}" />
        <td th:text="${author.lastName}" />
    </tr>
</table>
<a th:href="@{/admin}">Go back to main page</a>
</body>
