<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${action=='create'} ? 'New Genre' : 'Update ' + ${genre.name}" />
</head>
<body>
    <form th:action="@{/admin/core/genres/save(action=${action})}"
          th:object="${genre}" method="POST">
            <span th:if="${action=='update'}">
                <label>ID:</label><br>
                <input readonly type="number" th:field="*{id}" th:value="${genre.id}"><br><br>
            </span>
        <label>Name:</label><br>
        <input type="text" th:field="*{name}"/>
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red"></span>
        <br><br>
        <input type="submit" value="Save"/>
    </form><br>
    <a th:if="${action=='update'}"
       th:href="@{/admin/core/genres/delete/{id}(id=${genre.id})}" >
        <button>Delete</button></a>
    <a th:href="@{/admin/core/genres}">Go back to Genres</a>
</body>
</html>
