<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Genres</title>
</head>
<body>
    <h1>Genres</h1>
    <div>
        <a th:href="@{/admin/core/genres/add}">Add Genre</a>
    </div>
    <table>
        <tr th:each="genre: ${genres}">
            <td><a th:href="@{/admin/core/genres/{id}(id=${genre.id})}" th:text="${genre.id}"></a></td>
            <td th:text="${genre.name}" />
        </tr>
    </table>
    <a th:href="@{/admin}">Go back to main page</a>
</body>
