<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${action=='create'} ? 'New Language' : 'Update ' + ${language.name}" />
</head>
<body>
    <form th:action="@{/admin/core/languages/save(action=${action})}" th:object="${language}" method="POST">
        <span th:if="${action=='update'}">
            <label>ID:</label><br>
            <input readonly type="number" th:field="*{id}" th:value="${language.id}"><br><br>
        </span>
        <label>ISO Code:</label><br>
        <input type="text" th:field="*{ISOCode}"/>
        <span th:if="${#fields.hasErrors('ISOCode')}" th:errors="*{ISOCode}" style="color: red"></span>
        <br><br>
        <label>Name:</label><br>
        <input type="text" th:field="*{name}"/>
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red"></span>
        <br><br>
        <input type="submit" value="Save"/>
    </form><br>
    <a th:if="${action=='update'}"
       th:href="@{/admin/core/languages/delete/{id}(id=${language.id})}" >
        <button>Delete</button></a>
    <a th:href="@{/admin/core/languages}">Go back to Languages</a>
</body>
</html>
