<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Languages</title>
</head>
<body>
    <h1>Languages</h1>
    <div>
        <a th:href="@{/admin/core/languages/add}">Add Language</a>
    </div>
    <table>
        <tr th:each="language: ${languages}">
            <td><a th:href="@{/admin/core/languages/{id}(id=${language.id})}" th:text="${language.id}"></a></td>
            <td th:text="${language.ISOCode}" />
            <td th:text="${language.name}" />
        </tr>
    </table>
    <a th:href="@{/admin}">Go back to main page</a>
</body>
